body{
    background-color: hotpink;
    text-align: center;
}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#2D46B9;
    font-size: 5.5rem;
    text-shadow: 0.25rem 0.2em 0.01em darkmagenta;
    position: relative;
    width: 100%;
    overflow: hidden;
}
h1:hover{
    animation: header 1.5s infinite ease-in;
}
@keyframes header {
    0% {
        letter-spacing: inherit;
    }
    100% {
        letter-spacing: 0.3em;
    }
}
@keyframes active {
    0% {
        background-color: #2D46B9;
    }
    100% {
       background-color: crimson;
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
       opacity: 1;
    }
}

@keyframes slide {
    0% {
        visibility: hidden;
    }
    100% {
       visibility:visible;
    }
}




.slider_wrapper{
    margin: 0 auto;
    border: 0.5em dashed #2D46B9;
    border-radius: 5%;
    padding: 2em;
    background-color: rgb(177, 100, 210);
    max-width: 700px;
    max-height: 450px;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img img img img"
    "capt capt capt cntr";
}

.slider{
    display:grid;
    grid-area: img;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 5em;
    width:100%;
}
.captions{
    display:grid;
    grid-area: capt;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    color:#2D46B9;
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bolder;
    justify-items: stretch;
    max-height: 2em;
    height: 100%;


}
.controls{
    display:flex;
    flex-direction: row;
    grid-area: cntr;
    transition:all 0.3s;
}
.circle{
    width: 1.5em;
    height: 1.5em;
    background-color: #2D46B9;
    border-radius: 50%;
    margin-left: 0.3em;
    transition: all 0.7s;
    cursor: pointer;
}
.circle:hover{
    background-color: darkmagenta;
}
input{
    visibility: hidden;
}
#slide1{
    grid-area: 1/1;
    z-index: 5;
}
#slide2, #slide3, #slide4, #slide5{
    grid-area: 1/1;
    z-index: 1;
}

#radio1:checked ~ *.slider #slide1{
    z-index: 100;
}
#radio2:checked ~ *.slider #slide2{
   z-index: 100;
}
#radio3:checked ~ *.slider #slide3{
    z-index: 100;
}
#radio4:checked ~ *.slider #slide4{
    z-index: 100;
}
#radio5:checked ~ *.slider #slide5{
    z-index: 100;
}

#caption1{
    background-color: rgb(177, 100, 210);
    grid-area: 1/1;
    z-index: 5;
}
#caption2, #caption3, #caption4, #caption5{
    background-color: rgb(177, 100, 210);
    grid-area: 1/1;
    z-index: 1;
}
#radio1:checked ~ *.captions #caption1{
    z-index: 100;
}
#radio2:checked ~ *.captions #caption2{
    z-index: 100;
}
#radio3:checked ~ *.captions #caption3{
    z-index: 100;
}
#radio4:checked ~ *.captions #caption4{
    z-index: 100;
}
#radio5:checked ~ *.captions #caption5{
    z-index: 100;
}

#radio1:checked ~ *.controls #label1{
    animation: active 0.3s cubic-bezier(1.0,0,0,1.0);
    animation-iteration-count: 4;
    background-color: crimson;

}
#radio2:checked ~ *.controls #label2{
    animation: active 0.3s cubic-bezier(1.0,0,0,1.0);
    animation-iteration-count: 4;
    background-color: crimson;
}
#radio3:checked ~ *.controls #label3{
    animation: active 0.2s cubic-bezier(1.0,0,0,1.0);
    animation-iteration-count: 4;
    background-color: crimson;
}
#radio4:checked ~ *.controls #label4{
    animation: active 0.3s cubic-bezier(1.0,0,0,1.0);
    animation-iteration-count: 4;
    background-color: crimson;
}
#radio5:checked ~ *.controls #label5{
    animation: active 0.3s cubic-bezier(1.0,0,0,1.0);
    animation-iteration-count: 4;
    background-color: crimson;
}
